.swiperContainer {
  height : 250px;

  .swiper-button-prev {
    width : 2rem;
    height : 2rem;
    background : red;
  }

  .swiper-button-next {
    @extend .swiper-button-prev;

  }
}

.swiperSlider {
}